@import '../config/config.scss';

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: $GeoLang;
}

body{
    .block{
        display: block !important;
    }
    header{
        .header-container-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 12%;
            background-color: #1e1d1d;
            color: white;

            .header-container-contact-info{
                display: flex;
                gap: 15px;
                font-size: 14px;
                
                span{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }
            }
            .header-container-service{
                padding: 10px 0px;

                .service-list{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    font-size: 12px;
                    list-style: none;

                    .service{
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        padding: 2px 6px;
                        border-left: 1px solid white;
                        cursor: pointer;
                        transition-property: color;
                        transition-duration: 0.3s;
                        transition-timing-function: ease;
                    }

                    .service:hover{
                        color: #2d6cc5;
                    }
                }
            }
        }
        .header-container-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 12%;
            color: white;
            background-color: #3a3939;
            form{
                display: flex;
                width: 36rem;
                
                #search-input{
                    width: 80%;
                    height: 42px;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    padding: 0px 12px;
                    outline: none;
                    border: none;
                }
                #submit{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    width: 20%;
                    background-color: $PrimaryBgColor;

                    #search-submit{
                        width: 100%;
                        height: 100%;
                        border: 1px solid $PrimaryBgColor;
                        background-color: $PrimaryBgColor;
                        border-top-right-radius: 12px;
                        border-bottom-right-radius: 12px;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
            .account{
                display: flex;
                position: relative;
                gap: 12px;
                color: black;
                .sign-in{
                    padding: 8px 14px;
                    border-radius: 12px;
                    background-color: white;
                    cursor: pointer;
                }
                .user{
                    display: none;
                    padding: 2px;
                    border-radius: 50%;
                    background-color: white;
                    position: relative;
                    cursor: pointer;

                    #user-img{
                        border-radius: 50%;
                        height: 43px;
                        width: 43px;
                    }

                    .user-menu-container{
                        display: none;
                        background-color: #fafafa;
                        position: absolute;
                        top: 54px;
                        left: -70%;
                        width: 120px;
                        border-radius: 18px;
                        padding: 6px 10px;
                        border: 1px solid $PrimaryBorderColor;
                        
                        ul{
                            padding: 0;

                            li{
                                text-align: center;
                                font-size: 14px;
                                list-style: none;
                                padding-bottom: 2px;
                                border-bottom: 1px solid $PrimaryBorderColor;
                            }
                        }
                    }
                    
                    .block{
                        display: block;
                    }
                }
                .cart{
                    display: flex;
                    align-items: center;
                    position: relative;
                    gap: 6px;
                    padding: 8px 14px;
                    border-radius: 12px;
                    background-color: white;
                    cursor: pointer;

                    .amout{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 18px;
                        width: 18px;
                        position: absolute;
                        top: -8px;
                        right: -7px;
                        border-radius: 50%;
                        background-color: rgb(221, 59, 59);
                    }
                }
            }
        }
    }
    main{
        
        .product-container{
            display: flex;
            width: 100%;
            padding: 96px 14%;
            gap: 42px;

            .product-img-container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 680px;
                border: 1px solid $PrimaryBorderColor;
                padding: 12px;
                position: relative;
                min-width: fit-content;

                .product-img{
                    width: min-content;

                    img{
                        max-width: 680px;
                        max-height: 680px;
                    }
                }

                #previous, #next{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    border: 1px solid $PrimaryBorderColor;
                    background-color: white;
                    color: $PrimaryBgColor;
                    border-radius: 50%;
                    cursor: pointer;
                }

                #previous{
                    left: -40px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                #next{
                    right: -40px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .product-info-container{
                display: flex;
                flex-direction: column;
                gap: 24px;
                width: 100%;
                padding: 0px 12px 214px 12px;

                .product-info{
                    display: flex;
                    flex-direction: column;
                    gap: 42px;

                    .product-title{
                        display: block;
                    }
                    
                    .product-price{
                        display: inline;
                    }
                }

                .product-details-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    
                    #product-details{
                        display: flex;
                        flex-direction: column;
                        list-style: circle;
                        padding: 0;
                        gap: 8px;
    
                        li::marker{
                            color: $PrimaryBgColor;
                        }
                    }

                    .product-description-container{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                    }
                }

            }
        }
    }
    .blurred-background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.3);
        z-index: 3;
    }
    .sign-in-form{
        display: none;
        // display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 5;
        width: 24vw;
        min-height: 280px;
        top: 25%;
        left: 38%;
        right: 38%;
        gap: 24px;
        padding: 24px 0px;
        background-color: rgb(247, 247, 247);
        border: 1px solid $PrimaryBorderColor;
        border-radius: 18px;

        i{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .input{
            display: flex;
            flex-direction: column;
            gap: 4px;

            label{
                text-align: center;
                font-size: 14px;
            }

            input{
                outline: none;
                border: 1px solid $PrimaryBorderColor;
                background-color: white;
                padding: 0px 6px;
                border-radius: 16px;
            }
        }

        .sign-in-button{
            outline: none;
            border: 1px solid $PrimaryBorderColor;
            border-radius: 8px;
            color: $PrimaryBgColor;
            background-color: white;
            padding: 3px 8px;
            cursor: pointer;
            transition-property: background-color, color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }

        .sign-in-button:hover{
            background-color: $PrimaryBgColor;
            color: white;
        }

        .next-to-sign-up-button{
            outline: none;
            border: 1px solid $PrimaryBorderColor;
            border-radius: 8px;
            color: $PrimaryBgColor;
            background-color: white;
            padding: 3px 8px;
            cursor: pointer;
            transition-property: background-color, color;
            transition-duration: 0.3s;
            transition-timing-function: ease;
        }

        .next-to-sign-up-button:hover{
            background-color: $PrimaryBgColor;
            color: white;
        }
    }
    .sign-up-form{
        display: none;
        // display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 5;
        width: 24vw;
        top: 25%;
        left: 38%;
        right: 38%;
        gap: 12px;
        padding: 24px 0px;
        background-color: rgb(247, 247, 247);
        border: 1px solid $PrimaryBorderColor;
        border-radius: 18px;

        i{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }

        .input{
            display: flex;
            flex-direction: column;
            gap: 4px;
            position: relative;

            label{
                text-align: center;
                font-size: 14px;
            }

            input{
                outline: none;
                border: 1px solid $PrimaryBorderColor;
                background-color: white;
                padding: 0px 6px;
                border-radius: 16px;
            }

            #verify-button{
                display: none;
                position: absolute;
                right: -48px;
                bottom: 0px;
                color: rgb(22, 92, 223);
                cursor: pointer;
            }
        }

        .gender{
            flex-direction: row;
        }

        h3{
            text-align: center;
        }

        #avatar{
            display: none;
        }
        
        p{
            font-size: 12px;
            color: rgb(22, 92, 223);
            cursor: pointer;
        }
    }
}