@font-face {
  font-family: NotoGeo;
  src: url(../../fonts/Noto_Serif_Georgian/static/NotoSerifGeorgian-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: NotoGeo;
}

body .block {
  display: block !important;
}
body header .header-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12%;
  background-color: #1e1d1d;
  color: white;
}
body header .header-container-top .header-container-contact-info {
  display: flex;
  gap: 15px;
  font-size: 14px;
}
body header .header-container-top .header-container-contact-info span {
  display: flex;
  gap: 5px;
  align-items: center;
}
body header .header-container-top .header-container-service {
  padding: 10px 0px;
}
body header .header-container-top .header-container-service .service-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  list-style: none;
}
body header .header-container-top .header-container-service .service-list .service {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 2px 6px;
  border-left: 1px solid white;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
body header .header-container-top .header-container-service .service-list .service:hover {
  color: #2d6cc5;
}
body header .header-container-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12%;
  color: white;
  background-color: #3a3939;
}
body header .header-container-main form {
  display: flex;
  width: 36rem;
}
body header .header-container-main form #search-input {
  width: 80%;
  height: 42px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0px 12px;
  outline: none;
  border: none;
}
body header .header-container-main form #submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 20%;
  background-color: #2f64ad;
}
body header .header-container-main form #submit #search-submit {
  width: 100%;
  height: 100%;
  border: 1px solid #2f64ad;
  background-color: #2f64ad;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  cursor: pointer;
}
body header .header-container-main .account {
  display: flex;
  position: relative;
  gap: 12px;
  color: black;
}
body header .header-container-main .account .sign-in {
  padding: 8px 14px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
}
body header .header-container-main .account .user {
  display: none;
  padding: 2px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  cursor: pointer;
}
body header .header-container-main .account .user #user-img {
  border-radius: 50%;
  height: 43px;
  width: 43px;
}
body header .header-container-main .account .user .user-menu-container {
  display: none;
  background-color: #fafafa;
  position: absolute;
  top: 54px;
  left: -70%;
  width: 120px;
  border-radius: 18px;
  padding: 6px 10px;
  border: 1px solid #cccccc;
}
body header .header-container-main .account .user .user-menu-container ul {
  padding: 0;
}
body header .header-container-main .account .user .user-menu-container ul li {
  text-align: center;
  font-size: 14px;
  list-style: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #cccccc;
}
body header .header-container-main .account .user .block {
  display: block;
}
body header .header-container-main .account .cart {
  display: flex;
  align-items: center;
  position: relative;
  gap: 6px;
  padding: 8px 14px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
}
body header .header-container-main .account .cart .amout {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 18px;
  width: 18px;
  position: absolute;
  top: -8px;
  right: -7px;
  border-radius: 50%;
  background-color: rgb(221, 59, 59);
}
body main .categories-container {
  display: flex;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  cursor: pointer;
  margin-left: 1%;
  position: relative;
}
body main .categories-container .categories {
  background-color: #2f64ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  color: white;
  font-size: 14px;
  width: 14vw;
  max-width: 260px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
body main .categories-container .categories .categories-arrow-transform {
  transform: rotate(180deg);
}
body main .categories-container .categories-list-container {
  display: none;
  position: absolute;
  z-index: 2;
  padding: 12px;
  background-color: white;
  border: 1px solid #cccccc;
  top: 51px;
  width: 14vw;
  max-width: 260px;
  border-radius: 12px;
  cursor: auto;
}
body main .categories-container .categories-list-container ul {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
body main .categories-container .categories-list-container ul li {
  font-size: 14px;
  list-style: none;
  padding-bottom: 6px;
  padding-left: 4px;
  border-bottom: 1px solid rgb(167, 167, 167);
  cursor: pointer;
}
body main .categories-container .categories-list-container ul li a {
  text-decoration: none;
  color: #1f1f1f;
}
body main .categories-container .categories-list-container-block {
  display: block;
}
body main .main-container {
  display: flex;
  flex-direction: row;
  padding: 48px 10% 48px 16px;
  gap: 64px;
}
body main .main-container .filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  min-width: 280px;
  padding: 6px 0px;
  gap: 6px;
}
body main .main-container .filter-container .filter-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
  padding: 2px 0px;
  border: 1px solid #cccccc;
  border-radius: 12px;
}
body main .main-container .filter-container .filter-box p {
  font-size: 15px;
  text-align: center;
  cursor: default;
}
body main .main-container .filter-container .filter-box ul {
  padding: 0px;
}
body main .main-container .filter-container .filter-box ul li {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cccccc;
  padding: 1px;
  padding: 2px 10px;
  list-style: none;
  cursor: pointer;
}
body main .main-container .filter-container .filter-box ul li .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: white;
  border: 1px solid #cccccc;
}
body main .main-container .filter-container .filter-box ul li .checkbox i {
  display: none;
}
body main .main-container .filter-container .filter-box .price-box {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding-bottom: 6px;
}
body main .main-container .filter-container .filter-box .price-box #min-price, body main .main-container .filter-container .filter-box .price-box #max-price {
  width: 45%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 1px 6px;
}
body main .main-container .filter-container .filter-box .price-box input[type=number]::-webkit-inner-spin-button, body main .main-container .filter-container .filter-box .price-box input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
body main .main-container .filter-container .filter-box .price-box #submit-button-price {
  border: 1px solid #cccccc;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: white;
  color: #2d6cc5;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}
body main .main-container .filter-container .filter-box .price-box #submit-button-price:hover {
  background-color: #2d6cc5;
  color: white;
}
body main .main-container .filter-container .filter-box .price-box #price-refresh-button {
  background-color: white;
  color: #2d6cc5;
  border: 1px solid #cccccc;
  border-radius: 40%;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}
body main .main-container .filter-container .filter-box .price-box #price-refresh-button:hover {
  background-color: #2d6cc5;
  color: white;
}
body main .main-container .filter-container .filter-box .rating-box {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding-bottom: 6px;
}
body main .main-container .filter-container .filter-box .rating-box #min-rating, body main .main-container .filter-container .filter-box .rating-box #max-rating {
  width: 45%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 1px 6px;
}
body main .main-container .filter-container .filter-box .rating-box input[type=number]::-webkit-inner-spin-button, body main .main-container .filter-container .filter-box .rating-box input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
body main .main-container .filter-container .filter-box .rating-box #submit-button-rating {
  border: 1px solid #cccccc;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: white;
  color: #2d6cc5;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}
body main .main-container .filter-container .filter-box .rating-box #submit-button-rating:hover {
  background-color: #2d6cc5;
  color: white;
}
body main .main-container .filter-container .filter-box .rating-box #rating-refresh-button {
  background-color: white;
  color: #2d6cc5;
  border: 1px solid #cccccc;
  border-radius: 40%;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
}
body main .main-container .filter-container .filter-box .rating-box #rating-refresh-button:hover {
  background-color: #2d6cc5;
  color: white;
}
body main .main-container .product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 24px;
}
body main .main-container .product-container .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #cccccc;
  background-color: white;
  width: 280px;
  height: 380px;
  padding: 12px 6px;
  position: relative;
  cursor: pointer;
}
body main .main-container .product-container .card img {
  height: 170px;
}
body main .main-container .product-container .card h5 {
  margin-top: 12px;
  text-align: center;
  font-weight: normal;
}
body main .main-container .product-container .card .price {
  position: absolute;
  bottom: 60px;
  color: red;
}
body main .main-container .product-container .card .sale-price {
  color: #7c7c7c;
  position: absolute;
  right: -44px;
  bottom: -12px;
  rotate: -24deg;
}
body main .main-container .product-container .card .rating {
  position: absolute;
  left: 15px;
  bottom: 15px;
}
body main .main-container .product-container .card .rating i {
  color: rgb(223, 189, 0);
}
body main .main-container .product-container .card .cart-box {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  gap: 2px;
  position: absolute;
  background-color: #2f64ad;
  border: 1px solid #cccccc;
  border-radius: 12px;
  right: 12px;
  bottom: 12px;
  font-size: 12px;
  color: white;
  opacity: 0;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
body main .main-container .product-container .card:hover {
  box-shadow: 1px 1px 4px #cccccc;
}
body main .main-container .product-container .card:hover .cart-box {
  opacity: 1;
}
body .blurred-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
body .sign-in-form {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 5;
  width: 24vw;
  min-height: 280px;
  top: 25%;
  left: 38%;
  right: 38%;
  gap: 24px;
  padding: 24px 0px;
  background-color: rgb(247, 247, 247);
  border: 1px solid #cccccc;
  border-radius: 18px;
}
body .sign-in-form i {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
body .sign-in-form .input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
body .sign-in-form .input label {
  text-align: center;
  font-size: 14px;
}
body .sign-in-form .input input {
  outline: none;
  border: 1px solid #cccccc;
  background-color: white;
  padding: 0px 6px;
  border-radius: 16px;
}
body .sign-in-form .sign-in-button {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 8px;
  color: #2f64ad;
  background-color: white;
  padding: 3px 8px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
body .sign-in-form .sign-in-button:hover {
  background-color: #2f64ad;
  color: white;
}
body .sign-in-form .next-to-sign-up-button {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 8px;
  color: #2f64ad;
  background-color: white;
  padding: 3px 8px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
body .sign-in-form .next-to-sign-up-button:hover {
  background-color: #2f64ad;
  color: white;
}
body .sign-up-form {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 5;
  width: 24vw;
  top: 25%;
  left: 38%;
  right: 38%;
  gap: 12px;
  padding: 24px 0px;
  background-color: rgb(247, 247, 247);
  border: 1px solid #cccccc;
  border-radius: 18px;
}
body .sign-up-form i {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
body .sign-up-form .input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
body .sign-up-form .input label {
  text-align: center;
  font-size: 14px;
}
body .sign-up-form .input input {
  outline: none;
  border: 1px solid #cccccc;
  background-color: white;
  padding: 0px 6px;
  border-radius: 16px;
}
body .sign-up-form .input #verify-button {
  display: none;
  position: absolute;
  right: -48px;
  bottom: 0px;
  color: rgb(22, 92, 223);
  cursor: pointer;
}
body .sign-up-form .gender {
  flex-direction: row;
}
body .sign-up-form h3 {
  text-align: center;
}
body .sign-up-form #avatar {
  display: none;
}
body .sign-up-form p {
  font-size: 12px;
  color: rgb(22, 92, 223);
  cursor: pointer;
}/*# sourceMappingURL=laptop.css.map */