@import '../config/config.scss';

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: $GeoLang;
}

body{
    header{
        .header-container-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 12%;
            background-color: #1e1d1d;
            color: white;

            .header-container-contact-info{
                display: flex;
                gap: 15px;
                font-size: 14px;
                
                span{
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }
            }
            .header-container-service{
                padding: 10px 0px;

                .service-list{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    font-size: 12px;
                    list-style: none;

                    .service{
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        padding: 2px 6px;
                        border-left: 1px solid white;
                        cursor: pointer;
                        transition-property: color;
                        transition-duration: 0.3s;
                        transition-timing-function: ease;
                    }

                    .service:hover{
                        color: #2d6cc5;
                    }
                }
            }
        }
        .header-container-main{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 12%;
            color: white;
            background-color: #3a3939;
            form{
                display: flex;
                width: 36rem;
                
                input{
                    width: 80%;
                    height: 42px;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    padding: 0px 12px;
                    outline: none;
                    border: none;
                }
                #submit{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    width: 20%;
                    background-color: $PrimaryBgColor;
                    cursor: pointer;
                }
            }
            .account{
                display: flex;
                gap: 12px;
                color: black;
                .sign-up{
                    padding: 8px 14px;
                    border-radius: 12px;
                    background-color: white;
                    cursor: pointer;
                }
                .cart{
                    position: relative;
                    padding: 8px 14px;
                    border-radius: 12px;
                    background-color: white;
                    cursor: pointer;

                    .amout{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 18px;
                        width: 18px;
                        position: absolute;
                        top: -8px;
                        right: -7px;
                        border-radius: 50%;
                        background-color: rgb(221, 59, 59);
                    }
                }
            }
        }
    }
    main{
        .categories-container{
            display: flex;
            flex-direction: column;
            width: min-content;
            cursor: pointer;
            margin-left: 1%;
            position: relative;
            
            .categories{
                background-color: $PrimaryBgColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 24px;
                color: white;
                font-size: 14px;
                width: 14vw;
                max-width: 260px;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
            }

            .categories-list-container{
                display: none;
                position: absolute;
                z-index: 2;
                padding: 12px;
                background-color: white;
                border: 1px solid #cccccc;
                top: 51px;
                width: 14vw;
                max-width: 260px;
                border-radius: 12px;
                cursor: auto;

                ul{
                    display: flex;
                    flex-direction: column;
                    // gap: 8px;
                    padding-left: 10px;

                    li{
                        font-size: 14px;
                        list-style: none;
                        padding-bottom: 6px;
                        padding-left: 4px;
                        border-bottom: 1px solid rgb(167, 167, 167);
                        cursor: pointer;
                        
                        a{
                            text-decoration: none;
                            color: #1f1f1f;
                        }
                    }
                }
            }

            .categories-list-container-block{
                display: block;
            }
        }

        .main-container{
            display: flex;
            flex-direction: column;

            .filter-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 260px;
                margin-left: 1%;
                padding: 6px 0px;
                gap: 6px;

                .filter-box{
                    display: flex;
                    flex-direction: column;
                    width: 220px;
                    gap: 6px;
                    border: 1px solid $PrimaryBorderColor;
                    border-radius: 12px;

                    p{
                        font-size: 15px;
                        text-align: center;
                        cursor: default;
                    }
    
                    ul{
                        padding: 0px;
                        
                        li{
                            border-top: 1px solid $PrimaryBorderColor;
                            padding: 1px;
                            padding-left: 12px;
                            list-style: none;
                            cursor: pointer;
                        }
                    }
                }
            }
            .product-container{

            }
        }
    }
}